*{
  margin: 0px;
  padding: 0px;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.divCreate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.divFiltro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
